* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  font-family: "Lexend", sans-serif;
}

main {
  text-align: center;
}

.header {
  text-align: center;
  padding: 2em;
  background-color: #38434f;
  color: #f9fafb;
  width: 100%;
}

.header-title {
  letter-spacing: 1px;
  font-size: 20px;
}

.sub-title {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.submit-btn {
  cursor: pointer;
  padding: 4px 5px;
  margin: 5px;
  background-color: #38434f;
  color: #f9fafb;
  border: none;
  border-radius: 5px;
}

.submit-btn:hover {
  background-color: #56687a;
}

.delete {
  border: none;
  border-radius: 5px;
  color: rgb(245, 54, 54);
  padding: 2px 5px;
  margin-left: 10px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.input-box {
  border: 1px solid #c0d1e2;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.expenses,
.revenue {
  border-bottom: 1px solid #c0d1e2;
  text-align: center;
  padding: 5px 0;
  margin-top: 10px;
}

.balance {
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
}

.list {
  padding: 5px 0;
  width: 300px;
  margin: 0 auto;
}

.list-title {
  margin-bottom: 8px;
}

.list-item {
  display: flex;
  justify-content: space-between;
}

.footer {
  text-align: center;
  padding: 1em;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #38434f;
  color: #f9fafb;
}
